// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   transition: background-color 0.3s ease, color 0.3s ease;
// }

// html {
//   font-size: 62.5%;
// }

// body {
//   font-family: $font-family;
//   background-color: var(--bg-color);
//   font-size: $font-size;
//   font-weight: $font-weight;
// }

// h1,
// h2,
// h3 {
//   font-family: $font-family-alt;
//   color: var(--brown-color);
//   font-weight: bold;
//   text-transform: uppercase;
// }

// a {
//   text-decoration: none;
// }

// .container {
//   max-width: 1440px;
//   margin: 0 auto;
//   padding: 0 1.5rem;
//   padding-bottom: 2rem;
//   background-color: var(--bg-color);
//   color: var(--brown-color);
// }

// button {
//   font-family: $button-font-family;
//   font-size: $font-size;
//   font-weight: $font-weight;
// }

// :root {
//   --header-height: 8rem;

//   @include respond-to(tablet) {
//     --header-height: 5rem;
//   }

//   @include respond-to(desktop) {
//     --header-height: 8rem;
//   }
// }