*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  background-image:
    linear-gradient(var(--page-bg-overlay), var(--page-bg-overlay)),
    url("pbooks-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: $font-size;
  font-weight: $font-weight;
}

h1,
h2,
h3 {
  font-family: $font-family-alt;
  color: var(--brown-color);
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 1.5rem;
  padding-bottom: 2rem;
  color: var(--brown-color);
}

button {
  font-family: $button-font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

:root {
  --header-height: 8rem;

  @include respond-to(tablet) {
    --header-height: 5rem;
    .container {
      min-height: 92.9vh;
    }
  }

  @include respond-to(desktop) {
    --header-height: 8rem;
    .container {
      min-height: 100vh;
    }
  }
}
