@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
}

// @mixin modal-remove() {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.4);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 9999;

//   .modal {
//     background-color: var(--secondary-text-color);
//     padding: 2rem;
//     border-radius: $border-radius;
//     border: 2px solid var(--orange-color);
//     box-shadow: var(--card-shadow);
//     text-align: center;
//     max-width: 90vw;
//   }

//   .modalActions {
//     display: flex;
//     justify-content: center;
//     gap: 1rem;
//     margin-top: 1.5rem;
//   }

//   .btnCancel {
//     padding: 0.8rem 2rem;
//     background-color: var(--brown-color);
//     color: var(--secondary-text-color);
//     border: none;
//     border-radius: $card-radius;
//     cursor: pointer;

//     &:hover {
//       background-color: var(--layout-border-color);
//       color: $green-color;
//     }
//   }
// }
