@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
}
