@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// Variables
$card-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); //used
$button-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); //used

$font-family: "Candara"; //used
$font-family-alt: "Atkinson Hyperlegible", sans-serif; //used
$button-font-family: $font-family-alt;
$font-weight: 400; //used
$font-weight-md: 500; //used
$font-weight-bold: 600; //used
$font-size: 1.6rem; //used
$button-radius: 2px; //used
$input-radius: 2px; //used
$card-radius: 1px; //used

$font-lg: $font-size * 1.5; //used
$font-sm: 1.4rem; //used

$gap: 0.5rem; //used
$gap-lg: $gap * 2; //used
$gap-md: $gap * 1.5; //used
$gap-sm: $gap * 0.5; //used
$gap-xl: $gap * 4; //used

// Variables CSS dynamiques
:root {
  --btnAuthor-bg: rgba(167, 155, 90, 0.6); //used
  --btnCancel-bg: rgba(133, 117, 84, 0.6); //used
  --btnAdd-bg: rgba(96, 131, 94, 0.6); //used
  --btnEdit-bg: rgba(242, 153, 102, 0.6); //used
  --bg-color: #4b5e5b; //used
  --layout-bg-color: rgba(75, 94, 91, 0.85); //used
  --elements-bg-color: rgba(75, 94, 91, 0.4); //used
  --hover-pagination-color: rgba(92, 95, 95, 0.1); //used
  --brown-color: #593f42; //used
  --btnAlert-bg: rgba(242, 76, 61, 0.6); //used
  --disconnect-color: rgba(242, 76, 61, 0.8);
  --btnAlertHover-color: rgba(117, 37, 30, 0.925); //used
  --dark-text-color: rgba(42, 39, 39, 0.8); //used
  --dark-text-color-footer: rgb(30, 29, 29); //used
  --dark-text-color-active:rgba(42, 39, 39, 0.5); //used
  --secondary-text-color: #f4f4f4; //used
  --search-bg-color: rgba(244, 244, 244, 0.5); //used
  --layout-border-color: #2b3634; //used
  --card-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); //used
  --button-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); //used
  --form-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.5); //used
  --search-shadow-focus: inset 1px 1px 3px #2b3634; //used
  --form-shadow-focus: inset 1px 1px 7px #bdbf73; //used
  --avatar-shadow: 1px 1px 10px #593f42; //used
}

[data-theme="sombre"] {
  --orange-color: #c76d3c;
  --bg-color: #2c2c2c;
  --green-color: #6d6f3e;
  --brown-color: #1e1e1e;
  --dark-text-color: #e0e0e0;
  --secondary-text-color: #a6a6a6;
  --layout-border-color: #4a4b2b;
  --card-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
  --button-shadow: 1px 1px 3px rgba(44, 38, 38, 0.2);
  --form-shadow: inset 1px 1px 7px rgba(255, 255, 255, 0.2);
  --search-shadow: inset 1px 1px 7px #6d6f3e;
  --form-shadow-focus: inset 1px 1px 7px #d87c4a;
  --avatar-shadow: 1px 1px 10px #1e1e1e;
}
