@import "mixins";
@import "variables";

.mainContainer {
  padding-top: var(--header-height);
  transition: border-color 0.3s, box-shadow 0.3s;

  h2 {
    background-color: var(--green-color);
    border-radius: $border-radius;
    box-shadow: var(--card-shadow);
    text-align: center;
    padding: 1rem;
  }

  .searchControls {
    display: flex;
    gap: 0.75rem;
    margin: 1rem 0;

    input[type="text"] {
      padding: 0.5rem;
      border: 1px solid var(--brown-color);
      border-radius: $border-radius;
      box-shadow: var(--button-shadow);
      color: $brown-color;
      font-size: 1rem;
      flex: 1;
      max-width: 300px;

      &:focus {
        outline: none;
        border-color: var(--green-color);
        box-shadow: 0 0 0 2px var(--button-shadow);
      }
    }

    .hiddenLabel {
      position: absolute;
      width: 1px;
      overflow: hidden;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: var(--red-color);
      color: var(--secondary-text-color);
      border: none;
      border-radius: $border-radius;
      box-shadow: var(--button-shadow);
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: var(--button-hover-bg);
        color: var(--active-menu-text);
      }
    }
  }

  .hideMobile {
    display: none;
  }

  .userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 1rem;

    th,
    td {
      border: 1px solid var(--brown-color);
      padding: 0.75rem;
      text-align: left;
    }

    th {
      background-color: var(--light-color);
    }

    tbody {
      background-color: var(--green-color);
    }

    select {
      padding: 0.5rem 1rem;
      border: 1px solid var(--brown-color);
      border-radius: $border-radius;
      box-shadow: var(--button-shadow);
      font-size: 1rem;
      font-weight: bold;
      color: $brown-color;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;
        border-color: var(--green-color);
      }
    }

    i {
      color: var(--dark-text-color);
    }

    .actions {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      flex-wrap: wrap;

      button {
        padding: 0.5rem 1rem;
        background-color: var(--red-color);
        color: var(--secondary-text-color);
        border: none;
        border-radius: $border-radius;
        box-shadow: var(--button-shadow);
        cursor: pointer;
        font-size: 1.2rem;

        &:hover {
          background-color: var(--button-hover-bg);
          color: var(--active-menu-text);
        }
      }
    }
  }

  .loading,
  .message {
    margin-top: 30rem;
  }
}

@include respond-to(tablet) {
  .mainContainer {
    padding-top: 9rem;
    margin: auto;

    .userTable {
      font-size: $font-size;
    }

    .hideMobile {
      display: table-cell;
    }
  }
}

@include respond-to(desktop) {
  .mainContainer {
    padding-top: 11rem;
    width: 60%;
  }
}
