@import "mixins";
@import "variables";

.mainContainer {
  padding-top: var(--header-height);
  transition:
    border-color 0.3s,
    box-shadow 0.3s;

  h2 {
    background-color: var(--elements-bg-color);
    border-radius: $card-radius;
    border: 1px solid var(--layout-bg-color);
    box-shadow: var(--card-shadow);
    text-align: center;
    padding: 1rem;
  }

  .searchControls {
    display: flex;
    gap: 0.75rem;
    margin: 1rem 0;

    input[type="text"] {
      padding: 0.5rem;
      border: 1px solid var(--layout-bg-color);
      border-radius: $input-radius;
      box-shadow: var(--button-shadow);
      color: var(--brown-color);
      background-color: var(--search-bg-color);
      font-size: 1rem;
      flex: 1;
      max-width: 300px;

      &:focus {
        outline: none;
        border-color: var(--green-color);
        box-shadow: 0 0 0 2px var(--button-shadow);
      }
    }

    .hiddenLabel {
      position: absolute;
      width: 1px;
      overflow: hidden;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: var(--btnAuthor-bg);
      color: var(--secondary-text-color);
      border: 1px solid var(--layout-bg-color);
      border-radius: $button-radius;
      box-shadow: var(--button-shadow);
      font-size: 1rem;
    }
  }

  .hideMobile {
    display: none;
  }

  .userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 1rem;

    th,
    td {
      border: 1px solid var(--layout-bg-color);
      color: var(--dark-text-color);
      padding: 0.75rem;
      text-align: left;
    }

    th {
      background-color: var(--layout-bg-color);
      color: var(--secondary-text-color);
    }

    tbody {
      background-color: var(--elements-bg-color);
    }

    select {
      padding: 0.5rem 1rem;
      border: 1px solid var(--layout-bg-color);
      border-radius: $button-radius;
      box-shadow: var(--button-shadow);
      font-size: 1rem;
      font-weight: bold;
      color: var(--dark-text-color);
      background-color: var(--search-bg-color);

      &:focus {
        outline: none;
        border-color: var(--green-color);
      }
    }

    i {
      color: var(--dark-text-color);
    }

    .actions {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      flex-wrap: wrap;

      button {
        padding: 0.5rem 1rem;
        background-color: var(--btnAlert-bg);
        color: var(--secondary-text-color);
        border: 1px solid var(--layout-bg-color);
        border-radius: $button-radius;
        box-shadow: var(--button-shadow);
        font-size: 1.2rem;
      }
    }
  }

  .loading,
  .message {
    margin-top: 30rem;
  }
}

@include respond-to(tablet) {
  .mainContainer {
    padding-top: 9rem;
    margin: auto;

    .userTable {
      font-size: $font-size;
    }

    .hideMobile {
      display: table-cell;
    }
  }
}

@include respond-to(desktop) {
  .mainContainer {
    padding-top: 11rem;
    width: 60%;
    button {
      cursor: pointer;

      &:hover {
        background-color: transparent;
        color: var(--dark-text-color);
      }
    }

    .actions {
      button {
        cursor: pointer;

        &:hover {
          background-color: transparent;
          border: 1px solid var(--btnAlert-bg);
          color: var(--dark-text-color);
        }
      }
    }

    select {
      cursor: pointer;

      &:hover {
        outline: none;
        border-color: var(--green-color);
      }
    }
  }
}
