@import "mixins";
@import "variables";

.mainContainer {
  padding-top: var(--header-height);
  transition: background-color 0.2s;

  h2 {
    text-align: center;
    background-color: var(--brown-color);
    color: var(--secondary-text-color);
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: var(--card-shadow);
    margin-bottom: 2rem;
  }

  .authForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--green-color);
    color: var(--brown-color);
    padding: 1rem 2rem;
    border-radius: $border-radius;
    box-shadow: var(--card-shadow);

    article {
      padding: 1rem 0;
    }

    input {
      width: 95%;
      padding: 0.5rem;
      margin: 1rem 0;
      border-radius: $border-radius;
      border: none;
      box-shadow: var(--form-shadow);
      font-size: $font-size;
      color: var(--brown-color);
      background-color: var(--secondary-text-color);

      &:focus {
        outline: none;
        box-shadow: var(--form-shadow-focus);
      }
    }

    .btn {
      padding: 1rem 2rem;
      background-color: var(--button-bg);
      color: var(--secondary-text-color);
      border: none;
      border-radius: $border-radius;
      box-shadow: var(--button-shadow);
      cursor: pointer;

      &:hover {
        background-color: var(--button-hover-bg);
        color: var(--active-menu-text);
      }
    }

    p {
      padding-top: 1rem;
    }

    .authAlert {
      color: var(--red-color);
    }

    strong {
      color: var(--light-color);

      &:hover {
        color: var(--button-hover-bg);
      }
    }
  }
}

@include respond-to(tablet) {
  .mainContainer {
    padding-top: 9rem;
    margin: auto;
    width: 60%;
  }
}

@include respond-to(desktop) {
  .mainContainer {
    padding-top: 11rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;

    .authForm {
      justify-content: center;
      align-items: center;
      height: 50vh;
      gap: $gap-xl;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        gap: $gap-xl;
      }

      input {
        width: 100%;
        height: 4rem;
      }
    }
  }
}
