@import "mixins";
@import "variables";

.btn {
  padding: 1rem 2rem;
  background-color: var(--button-bg);
  color: var(--secondary-text-color);
  border: none;
  border-radius: $border-radius;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--button-hover-bg);
    color: var(--active-menu-text);
  }
}

.btnAlert {
  padding: 1rem 2rem;
  background-color: var(--red-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: $border-radius;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--button-hover-bg);
    color: var(--active-menu-text);
  }
}

.btnEdit {
  padding: 1rem 2rem;
  background-color: var(--orange-color);
  font-family: $button-font-family;
  color: var(--brown-color);
  border: none;
  border-radius: $border-radius;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--button-hover-bg);
    color: var(--active-menu-text);
  }
}

.btnContainer {
  display: flex;
  justify-content: flex-end;

  .btnReadMore {
    text-align: right;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    background-color: var(--brown-color);
    color: var(--secondary-text-color);
    border: none;
    border-radius: $border-radius;
    box-shadow: var(--button-shadow);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--button-hover-bg);
      color: var(--active-menu-text);
    }
  }
}

//BOUTON RETOUR

.returnBtn {
  padding: 1rem 2rem;
  background-color: var(--light-color);
  color: var(--secondary-text-color);
  height: 4rem;
  border: none;
  border-radius: $border-radius;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: background-color 0.3s;
  &:focus,
  &:active {
    outline: none;
    background-color: var(--light-color); // même que le fond normal
    color: var(--secondary-text-color);   // idem
  }
}

// MODALE SUPPRESSION

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: var(--secondary-text-color);
  padding: 2rem;
  border-radius: $border-radius;
  border: 2px solid var(--orange-color);
  box-shadow: var(--card-shadow);
  text-align: center;
  max-width: 90vw;
}

.modalActions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btnCancel {
  padding: 0.8rem 2rem;
  background-color: var(--brown-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: $card-radius;
  cursor: pointer;

  &:hover {
    background-color: var(--layout-border-color);
    color: $green-color;
  }
}

// THEME TOGGLE

.themeToggle {
  display: flex;
  align-items: center;
  gap: 10px;

  .toggleSwitch {
    width: 50px;
    height: 24px;
    background: #ccc;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

    &.dark {
      background: #333;

      .toggleSlider {
        transform: translateX(26px);
      }
    }

    .toggleSlider {
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 3px;
      transition: transform 0.3s ease-in-out;
    }
  }

  .dark .toggleSlider {
    transform: translateX(26px);
  }
}

@include respond-to(desktop) {
  .btn,
  .btnAlert,
  .btnEdit {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
  }
}
