@import "mixins";
@import "variables";

.mainContainer {
  padding-top: var(--header-height);
  transition: background-color 0.3s;

  h2 {
    text-align: center;
    background-color: var(--brown-color);
    color: var(--secondary-text-color);
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: var(--card-shadow);
  }

  h3 {
    padding-bottom: 1rem;
  }

  article {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    color: var(--brown-color);
    background-color: var(--green-color);
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    margin: 2rem 0;

    .btnContainer {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn {
      padding: 1rem 2rem;
      display: block;
      margin: 1rem 0;
    }
  }

  .btn {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: var(--button-bg);
    font-size: $font-size;
    font-weight: 400;
    font-family: $font-family;
    text-align: center;
    color: var(--secondary-text-color);
    border: 1px solid transparent;
    border-radius: $border-radius;
    box-shadow: var(--button-shadow);
    cursor: pointer;

    &:hover {
      background-color: var(--button-hover-bg);
      color: var(--active-menu-text);
    }
  }

  input {
    display: none;
  }

  .previewContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .preview {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      box-shadow: var(--avatar-shadow);
    }
  }
}

.btnDelete {
  padding: 1rem 2rem;
  background-color: var(--red-color);
  font-size: $font-size;
  font-weight: 400;
  color: var(--secondary-text-color);
  border: none;
  border-radius: $border-radius;
  box-shadow: var(--button-shadow);
  cursor: pointer;

  &:hover {
    background-color: $red-color;
    color: $dark-bg-color;
  }
}

@include respond-to(tablet) {
  .mainContainer {
    padding-top: 9rem;
    margin: auto;
    width: 80%;
  }
}

@include respond-to(desktop) {
  .mainContainer {
    padding-top: 10rem;
    margin: auto;
    width: 60%;

    article {
      padding: 2rem;
      gap: $gap-xl;
    }
  }
}
