@import "mixins";
@import "variables";

.mainContainer {
  padding-top: var(--header-height);
  transition: background-color 0.3s;

  h2,
  h3 {
    text-align: center;
    background-color: var(--brown-color);
    color: var(--secondary-text-color);
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: $card-shadow;
    margin-bottom: 2rem;
  }

  .formCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 1rem 2rem;
    background-color: var(--green-color);
    border-radius: 8px;
    border-radius: $border-radius;
    box-shadow: $card-shadow;
    margin-bottom: 2rem;

    article,
    div {
      padding: 1rem 0;
    }

    input {
      width: 95%;
      padding: 0.6rem;
      margin: 1rem 0;
      border-radius: $border-radius;
      border: none;
      box-shadow: var(--form-shadow);
      font-size: $font-size;
      color: var(--brown-color);
      background-color: var(--secondary-text-color);

      &:focus {
        outline: none;
        box-shadow: var(--form-shadow-focus);
      }
    }

    textarea {
      width: 100%;
      height: 20rem;
      padding: 0.6rem;
      margin: 1rem 0;
      text-align: justify;
      border-radius: $border-radius;
      border: none;
      box-shadow: var(--form-shadow);
      font-size: $font-size;
      color: var(--brown-color);
      background-color: var(--secondary-text-color);

      &:focus {
        outline: none;
        box-shadow: var(--form-shadow-focus);
      }
    }

    fieldset {
      border: 2px solid var(--light-color);
      border-radius: 5px;
      padding: 1rem;
      margin-bottom: 1rem;

      legend {
        padding: 0 0.5rem;
      }

      input {
        width: 80%;
      }
    }

    .radio {
      width: 2rem;
      box-shadow: none;
      accent-color: var(--red-color);
      padding: 1rem;

      &:focus {
        box-shadow: none;
      }
    }

    .checkbox {
      width: 2rem;
      box-shadow: none;
      accent-color: var(--red-color);
      padding: 1rem 0;

      &:focus {
        box-shadow: none;
      }
    }

    .formPassword {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 80%;
    }

    .uploadContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .hiddenInput {
      display: none;
    }

    .mediaPreview {
      max-width: 100%;
      overflow: hidden;

      .preview {
        width: 100%;
        box-shadow: $card-shadow;
      }
    }
  }

  .separator {
    margin: 2rem 0;
    border: none;
    height: 2px;
    background-color: var(--brown-color);
  }

  .btn {
    padding: 1rem 2rem;
    background-color: var(--button-bg);
    color: var(--secondary-text-color);
    border: none;
    border-radius: $border-radius;
    box-shadow: $button-shadow;
    cursor: pointer;
    
    &:hover {
      background-color: var(--button-hover-bg);
      color: var(--active-menu-text);
    }
  }

  .btn.cancelBtn {
    background-color: var(--brown-color);

    &:hover {
      background-color: var(--layout-border-color);
      color: $green-color;
    }
  }

  .btnAuthor {
    padding: 0.5rem;
    background-color: var(--brown-color);
    color: var(--secondary-text-color);
    border: none;
    border-radius: $border-radius;
    box-shadow: $button-shadow;
    cursor: pointer;

    &:hover {
      background-color: var(--button-hover-bg);
      color: var(--active-menu-text);
    }
  }

  .btnClose {
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    background-color: var(--brown-color);
    color: var(--secondary-text-color);
    border: none;
    border-radius: $border-radius;
    box-shadow: $button-shadow;
    cursor: pointer;

    &:hover {
      background-color: var(--button-hover-bg);
      color: var(--active-menu-text);
    }
  }

  .validateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

.loading,
.message {
  margin-top: 30rem;
}

}

@include respond-to(tablet) {
  .mainContainer {
    padding-top: 9rem;
    padding-bottom: 2rem;
    margin: auto;
    width: 80%;
  }
}

@include respond-to(desktop) {
  .mainContainer {
    padding-top: 10rem;
    width: 50%;
  }

  .formCard {
    .inputContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      margin: auto;
    }

    fieldset {
      text-align: center;
    }
  }

}
