@import "variables";
@import "mixins";

.logo {
  width: 20vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
// "w-[20vw] m-0 p-0 flex items-center md:order-2 lg:w-[10vw]"

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 900;
  transition: opacity 0.3s ease;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 6rem;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-color);
  border-bottom: solid 1px var(--layout-border-color);
  box-shadow: 0 4px 5px var(--layout-border-color);
  color: var(--secondary-text-color);
  font-family: $font-family-alt;
  // "fixed top-0 z-40 h-24 px-4 w-full flex justify-between items-center bg-(--green-color) border-b-(--layout-border-color) shadow-[0_4px_5px_var(--layout-border-color)] text-(--secondary-text-color) font-(--font-alt)
  //   md:h-28
  //   lg:h-36"

  .navLinks {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: $brown-color-transparent;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: $font-weight-bold;
    pointer-events: none;
    z-index: 1000;
    box-shadow: var(--card-shadow);
    //"hidden fixed top-0 left-0 w-[70vw] flex-col justify-center gap-12 bg-(--brown-color-transparent) uppercase text-4xl font-semibold pointer-events-none z-40 shadow-(--card-shadow) md:order-1 md:flex md:flex-row md:items-center md:static md:w-auto md:h-auto md:transform-none md:opacity-100 md:pointer-events-auto md:bg-transparent md:shadow-none md:gap-4 md:text-3xl"


    button {
      border: none;
      background-color: var(--red-color); //
      text-transform: uppercase; //
      text-align: left;
      color: var(--secondary-text-color); //
      font-size: 2.5rem; //
      font-weight: $font-weight-bold;
      cursor: pointer; //
      padding: 0.75rem 0.5rem;
      box-shadow: $button-shadow;
      border-radius: $border-radius;
      width: 100%;

      &:hover {
        background-color: var(--button-hover-bg);
        color: var(--active-menu-text);
      }
    }

    .legalLinkContainer {
      padding-top: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: $gap-xl;
      font-weight: $font-weight;
      // "pt-6 flex flex-col items-center w-full gap-8 font-normal md:hidden"

      a {
        padding: 0.5rem;
        background-color: var(--light-color);
      }
    }

    a {
      color: var(--secondary-text-color);
      background-color: var(--green-color);
      box-shadow: $button-shadow;
      border-radius: $border-radius;
      padding: 1rem 0.5rem;
      width: 100%;

      &:hover,
      &.active {
        background-color: var(--button-hover-bg);
        color: var(--active-menu-text);
      }
    }

    &.active {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
      justify-items: center;
      align-items: start;
      row-gap: 2rem;
      padding: 6rem 1rem 2rem;
      max-height: 80vh;
      overflow-y: auto;

      background-color: $brown-color-transparent;
      border-radius: 0 0 8px 0;
      z-index: 1000;
      box-shadow: var(--card-shadow);
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
      // ici styles.active nav
      // "grid grid-cols-1 auto-rows-min justify-items-center items-start gap-y-8 pt-24 px-4 pb-8 max-h-[80vh] overflow-y-auto bg-(--brown-color-transparent) rounded-br-lg z-40 shadow-(--card-shadow) scale-100 opacity-100 pointer-events-auto"

      .closeMenu {
        position: fixed;
        left: 1rem;
        top: 1rem;
        width: auto;
        padding: 0;
        font-size: 3rem;
        cursor: pointer;
        color: var(--green-color);
        background-color: transparent;
        box-shadow: none;
        z-index: 1100;
      }
      // "fixed left-4 top-4 w-auto p-0 text-5xl cursor-pointer text-(--green-color) bg-transparent shadow-none z-40"
    }
    .adminLink {
      background-color: var(--orange-color);
      color: var(--admin-text-color);
    }
    // "bg-(--orange-color) text-(--admin-text-color)"
  }

  .burgerMenu {
    display: block;
    padding-left: 1rem;
    font-size: 3rem;
    cursor: pointer;
    color: var(--brown-color);
  }
  // "block pl-4 text-5xl text-(--brown-color) cursor-pointer md:hidden"

  .userInfos {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-size: 3rem;
    // "flex items-center pr-4 text-5xl md:order-3 lg:text-7xl"

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    // "w-8 h-8 rounded-full lg:w-13 lg:h-13"

    p {
      font-size: $font-size;
      margin-right: 1rem;
    }
    // "text-2xl mr-4 lg:text-4xl"
  }
}

// .footer {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 40px;
//   text-align: center;
//   padding: 10px;
//   background-color: var(--green-color);
//   border-top: solid px var(--layout-border-color);
//   box-shadow: 0 -4px 4px var(--layout-border-color);
//   color: var(--secondary-text-color);

//   .footerLinkContainer,
//   .footerBtnReturnWrapper {
//     display: none;
//   }
// }

//MODE TABLETTE @media (max-width: 768px)

@include respond-to(tablet) {
  .header {
    height: 7rem;

    .logo {
      order: 2;
    }

    .userInfos {
      order: 3;
    }

    .burgerMenu {
      display: none;
    }

    .navLinks {
      order: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: static;
      width: auto;
      height: auto;
      transform: none;
      opacity: 1;
      pointer-events: auto;
      background-color: transparent;
      box-shadow: none;
      gap: 1rem;
      font-size: 1.8rem;
      // "md:order-1 md:flex md:flex-row md:items-center md:static md:w-auto md:h-auto md:transform-none md:opacity-100 md:pointer-events-auto md:bg-transparent md:shadow-none md:gap-4 md:text-3xl"

      .legalLinkContainer {
        display: none;
      }
    }

    .navLinks a {
      background-color: var(--brown-color);
    }

    .navLinks a,
    .navLinks button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1rem;
      max-width: 8rem;
      height: 6rem;
    }
  }
  // .footer {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   height: 50px;

  //   .footerLinkContainer,
  //   .footerBtnReturnWrapper {
  //     display: flex;
  //   }

  //   .footerLinkContainer {
  //     margin-right: 1rem;

  //     a {
  //       color: var(--admin-text-color);
  //       padding-left: 2rem;

  //       &:hover,
  //       &.active {
  //         color: var(--dark-text-color);
  //       }
  //     }
  //   }
  // }
}

//MODE DESKTOP @media (min-width: 1024px)

@include respond-to(desktop) {
  .header {
    height: 9rem;

    .navLinks a,
    .navLinks button {
      padding: 1rem;
      max-width: none;
      width: 10vw;
      font-size: 1.3rem;
    }

    .userInfos {
      font-size: 4.5rem;

      img {
        width: 50px;
        height: 50px;
      }

      p {
        font-size: $font-lg;
      }
    }
  }
  .logo {
    width: 10vw;
  }
}
