@import "mixins";
@import "variables";

.mainContainer {
  padding-top: 8vh;
  padding-bottom: 5vh;
  transition: background-color 0.3s;

  h1 {
    text-align: center;
    background-color: var(--elements-bg-color);
    color: var(--brown-color);
    padding: 1rem;
    border-radius: $card-radius;
    border: solid 1px var(--layout-bg-color);
    box-shadow: $card-shadow;
  }

  .headerLibrary {
    display: flex;
    justify-content: center;
    align-items: center;

    .searchBar {
      padding-top: $gap-xl;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        width: 60vw;
        height: 5vh;
        padding: $gap-sm;
        border-radius: $input-radius;
        border: solid 1px var(--elements-bg-color);
        font-size: $font-sm;
        color: var(--brown-color);
        text-align: center;
        background-color: var(--search-bg-color);

        &:focus {
          outline: none;
          box-shadow: var(--search-shadow-focus);
        }
      }
    }
    .navButton {
      display: none;
    }
  }

  .workContainer {
    padding: 1.5rem 1.2rem 2rem 1.2rem;

    .work {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(1, 1fr));
      gap: 2rem;
    }

    .workCard {
      background: var(--elements-bg-color);
      padding: 1.5rem;
      border-radius: $card-radius;
      border: 1px solid var(--elements-bg-color);
      box-shadow: var(--card-shadow);
      color: var(--brown-color);
      text-align: center;

      img {
        width: 95%;
      }
    }
  }

  .workTitle {
    margin: 0;
    font-size: $font-lg;
  }

  .workInfos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .workFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap-md;
    padding-top: 1rem;

    .authorsList {
      font-size: 1.4rem;
      width: 50%;

      .editions {
        border-bottom: 2px solid var(--bg-color);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: $gap-lg;
      width: 50%;

      .btnEdit {
        padding: 1rem 2rem;
        font-family: $button-font-family;
        background-color: var(--btnEdit-bg);
        color: var(--secondary-text-color);
        border: none;
        border: 1px solid var(--layout-bg-color);
        border-radius: $button-radius;
        box-shadow: var(--button-shadow);
      }
    }
  }
}

@include respond-to(tablet) {
  .mainContainer {
    padding-top: 10vh;

    .searchBar {
      input {
        width: 40vw;
      }
    }

    .workFooter {
      .buttons {
        flex-direction: column;
      }
    }
    .workContainer {
      .work {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 0 1.2rem 2rem 1.2rem;
      }

      .workCard {
        img {
          width: 95%;
        }
      }
    }
  }
}

@include respond-to(desktop) {
  .mainContainer {
    h1 {
      font-size: 2.5rem;
      padding: 1rem;
    }

    .headerLibrary {
      .searchBar {
        input {
          width: 20vw;
          height: 3vh;
        }
      }
    }

    .workContainer {
      padding: 1.5rem 1.2rem 2rem 1.2rem;

      .work {
        grid-template-columns: repeat(5, 1fr);
        gap: 1.8rem;
      }

      .workCard {
        padding: 1rem;
        box-shadow: none;
        &:hover {
          box-shadow: var(--card-shadow);
        }
      }
    }
    .workFooter {
      .authorsList {
        font-size: 1.2rem;
      }

      .buttons {
        width: 60%;

        .btnEdit {
          cursor: pointer;
          font-size: 1.4rem;
          padding: 0.5rem 1rem;
          color: var(--secondary-text-color);

          &:hover {
            background-color: transparent;
            color: var(--dark-text-color);
          }
        }
      }
    }
  }

  .paginationBottom {
    display: none;
  }
}
