@import "mixins";
@import "variables";

.mainContainer {
  padding-top: var(--header-height);
  transition: background-color 0.3s;

  h1 {
    text-align: center;
    background-color: var(--brown-color);
    color: var(--secondary-text-color);
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: var(--card-shadow);
  }

  .headerLibrary {
    display: flex;
    justify-content: center;
    align-items: center;

    .searchBar {
      padding-top: $gap-xl;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        width: 50lvw;
        padding: $gap-sm;
        border-radius: $border-radius;
        border: none;
        box-shadow: var(--search-shadow);
        font-size: $font-lg;
        color: var(--brown-color);
        text-align: center;
        background-color: var(--secondary-text-color);

        &:focus {
          outline: none;
          box-shadow: var(--form-shadow-focus);
        }
      }
    }
    .navButton {
      display: none;
      justify-content: center;
      align-items: center;
      $nav-button-size: 30px;
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      background: var(--button-bg);
      color: var(--secondary-text-color);
      border: none;
      width: $nav-button-size + 10;
      height: $nav-button-size + 10;
      cursor: pointer;
      font-size: $nav-button-size;
      z-index: 10;
      border-radius: 50%;
      transition: background 0.3s ease;

      &.left {
        left: 2rem;
      }

      &.right {
        right: 2rem;
      }

      &:hover {
        background: var(--button-hover-bg);
      }
    }
  }

  .sliderContainer {
    overflow: hidden;
    padding: 1.5rem 0;

    .slider {
      display: flex;
      gap: 2rem;
      padding: 0 1.2rem 2rem 1.2rem;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .workCard {
      flex: 0 0 100%;
      background: var(--green-color);
      padding: 1.5rem;
      border-radius: $card-radius;
      box-shadow: var(--card-shadow);
      color: var(--brown-color);
      text-align: center;

      img {
        width: 95%;
      }

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }
    }
  }

  .workTitle {
    margin: 0;
    font-size: $font-lg;
  }

  .workInfos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .workFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: $gap-md;
    padding-top: 1rem;
    .authorsList {
      font-size: 1.4rem;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: $gap-lg;
      font-weight: 400;

      .btnEdit {
        padding: 1rem 2rem;
        background-color: var(--orange-color);
        color: var(--brown-color);
        border: none;
        border-radius: $border-radius;
        box-shadow: var(--button-shadow);
        cursor: pointer;

        &:hover {
          background-color: var(--button-hover-bg);
          color: var(--active-menu-text);
        }
      }
    }
  }
}

@include respond-to(tablet) {
  .mainContainer {
    padding-top: 8rem;
    padding-bottom: 1rem;;

    .searchBar {
      input {
        width: 40vw;
      }
    }

    .workFooter {
      .buttons {
        flex-direction: column;
      }
    }
    .sliderContainer {
      .slider {
        gap: 1rem;
        padding: 0 1.2rem 2rem 1.2rem;
      }

      .workCard {
        flex: 0 0 50%;
        max-width: 50%;

        img {
          width: 95%;
        }
      }
    }
  }
}

@include respond-to(desktop) {
  .mainContainer {
    padding-top: 10rem;
    h1 {
      font-size: 2.5rem;
      padding: 1rem;
    }

    .headerLibrary {
      .searchBar {
        input {
          width: 20vw;
        }
      }

      .navButton {
        display: flex;
      }
    }

    .sliderContainer {
      overflow: hidden;
      padding: 1.5rem 0;

      .slider {
        display: flex;
        gap: 1.8rem;
      }

      .workCard {
        flex: 0 0 19%;
        padding: 1rem;
      }
    }
    .workFooter {
      .authorsList {
        font-size: 1.2rem;
      }

      .buttons {
        width: 60%;
        font-size: 1.4rem;

        .btnAlert {
          padding: 0.5rem 1rem;
        }

        .btnEdit {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
