@import "variables";

.paginationNav {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 1rem 0;
  border-top: 1px solid var(--green-color);
  border-bottom: 1px solid var(--green-color);
}

.pagination {
  display: flex;
  height: 4rem;
  gap: 0.5rem;
}

.pageItem {
  list-style: none;
}

.pageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  height: 100%;
  padding: 0.25rem 0.75rem;
  margin: 0;
  border: none;
  background-color: var(--bg-color);
  color: var(--dark-text-color);
  font-family: $font-family-alt;
  font-weight: $font-weight;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;

  &:hover:not(:disabled) {
    border: 1px solid var(--green-color);
    border-radius: $border-radius;
  }

  &:disabled {
    color: #a6a6a6;
  }
}

.active {
  .pageLink {
    border: 1px solid var(--dark-text-color);
    color: var(--dark-text-color);
    font-weight: bold;
  }
}

.disabled {
  .pageLink {
    opacity: 0.6;
  }
}
