@import "variables";

.paginationNav {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 1rem 0;
  border-top: 1px solid var(--layout-border-op-color);
  border-bottom: 1px solid var(--layout-border-op-color);
}

.pagination {
  display: flex;
  height: 4vh;
  gap: 0.7vw;
}

.pageItem {
  list-style: none;
}

.pageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  height: 100%;
  padding: 0.25rem 0.75rem;
  margin: 0;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--dark-text-color);
  font-family: $font-family-alt;
  font-weight: $font-weight;
  cursor: pointer;

  transition:
    color 0.2s ease,
    box-shadow 0.2s ease;

  &:hover:not(:disabled) {
    border-left: 1px solid var(--elements-bg-color);
    border-right: 1px solid var(--elements-bg-color);
    background-color: var(--hover-pagination-color);
  }

  &:disabled {
    color: #a6a6a6;
  }
}

.active {
  .pageLink {
    border-left: 1px solid var(--elements-bg-color);
    border-right: 1px solid var(--elements-bg-color);
    background-color: var(--hover-pagination-color);
    color: var(--dark-text-color);
  }
}

.disabled {
  .pageLink {
    opacity: 0.7;
  }
}
