@import "mixins";
@import "variables";

.mainContainer {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);

  h2 {
    text-align: center;
  }

  .workInfos {
    background-color: var(--green-color);
    color: var(--brown-color);
    padding: 1rem 2rem;
    border-radius: $border-radius;
    box-shadow: var(--card-shadow);

    .workArticle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      p {
        padding-top: 1rem;
      }
    }
  }

  .volumeCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2rem 1rem 2rem;

    .volumeCardHeaderInfos {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .isbn {
        font-size: $font-sm;
        font-family: $font-family-alt;
      }
    }

    .statusRadios {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      accent-color: var(--light-color);
      gap: $gap-lg;
      margin-top: 1rem;

      input[type="radio"] {
        margin-right: 0.5rem;
      }

      .selected {
        color: var(--brown-color);
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }
    }
  }

  .volumeCard {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: var(--green-color);
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    margin-bottom: 2rem;

    figure {
      display: flex;
      justify-content: center;

      img {
        width: 95%;
      }
    }

    .volumeCardFooter {
      padding: 0 2rem;

      .isbn {
        font-size: $font-sm;
        font-family: $font-family-alt;
      }

      .summary {
        padding-top: 1rem;

        p {
          text-align: justify;
        }

        .authors p {
          font-size: $font-sm;
          text-align: right;
        }
      }
    }
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    gap: $gap;
    padding: 2rem 0;
  }
}

@include respond-to(tablet) {
  .mainContainer {
    padding-top: 9rem;
    padding-bottom: 2rem;

    .cardContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
      gap: $gap-lg;
      justify-items: center;
    }
  }
}

@include respond-to(desktop) {
  .mainContainer {
    padding-top: 11rem;
    padding-bottom: 3rem;

    .cardContainer {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

      &.singleCard {
        width: 40%;
        margin: 0 auto;
        grid-template-columns: 1fr;
      }
    }

    .btnContainer {
      flex-direction: row;
      justify-content: space-between;
      max-width:in;
    }
  }
}
