@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* ======================
   THEME LIGHT (default)
   ====================== */
@theme {
  /* Fonts */
  --font-sans: "Candara", system-ui, sans-serif;
  --font-alt: "Atkinson Hyperlegible", sans-serif;

  /* Base colors */
  --color-bg: #ffffff;
  --color-text: #1f2937;
  --color-heading: #7c2d12;

  /* UI tokens */
  --light-color: #bf705e;
  --orange-color: #f29966;
  --green-color: #bdbf73;
  --button-bg: #bf705e;
  --button-hover-bg: rgba(0, 0, 0, 0.8);

  --brown-color: #593f42;
  --red-color: #c0392b;

  --dark-text-color: #593f42;
  --secondary-text-color: #f4f4f4;

  --layout-border-color: #6d6f3e;
  --active-menu-text: #bdbf73;
  --admin-text-color: #f4f4f4;

  /* Shadows */
  --card-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  --button-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  --form-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.5);
  --search-shadow: inset 1px 1px 7px #bdbf73;
  --form-shadow-focus: inset 1px 1px 7px #f29966;
  --avatar-shadow: 1px 1px 10px #593f42;
}

/* ======================
   THEME DARK (override)
   ====================== */
.dark {
  @theme {
    --light-color: #6c362a;
    --orange-color: #c76d3c;
    --color-bg: #2c2c2c;
    --green-color: #6d6f3e;
    --button-bg: #8b4a3c;
    --red-color: #7f2318;
    --brown-color: #1e1e1e;

    --dark-text-color: #e0e0e0;
    --secondary-text-color: #a6a6a6;

    --layout-border-color: #4a4b2b;
    --active-menu-text: #1e1e1e;
    --admin-text-color: #1e1e1e;

    --button-hover-bg: rgba(255, 255, 255, 0.2);

    --card-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    --button-shadow: 1px 1px 3px rgba(44, 38, 38, 0.2);
    --form-shadow: inset 1px 1px 7px rgba(255, 255, 255, 0.2);
    --search-shadow: inset 1px 1px 7px #6d6f3e;
    --form-shadow-focus: inset 1px 1px 7px #d87c4a;
    --avatar-shadow: 1px 1px 10px #1e1e1e;
  }
}



@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-alt);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-heading);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
